@font-face {
    font-family: RobotoRegular;
    src: url(/fonts/Roboto-Regular.ttf);
}

body {
    width: 715px;
    min-height: 550px;
    font-family: RobotoRegular;
}

.main-logo {
    width: 100px;
}

.main-heading {
    font-weight: 700;
    font-size: 24px;
    color: #1D2226;
}

.btn-custom-main {
    background: #1A1A1A;
    color: #fff;
    width: 250px;
    height: 40px;
    outline: none !important;
    border-radius: 30px;
    border-color: #1a1a1a;
    font-size: 16px;
    font-weight: 300;
}

    .btn-custom-main:focus {
        outline: none !important;
    }

    .btn-custom-main:hover {
        cursor: pointer;
    }

.data-seperater {
    border: 1px solid #ECEEF5;
    box-sizing: border-box;
}

.logout-icon:hover {
    cursor: pointer;
}


/*Loading Start*/
#lemoin-overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
}

.lemoin-spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid #EC8205;
    border-right-color: transparent;
    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Loading End*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #bbbbbb;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #bbbbbb;
    }
