body {
    min-height: 500px;
    min-width: 450px;
    /*background-color: #1e1e2e;
    color: #fff;*/
}

.main-logo {
    height: 80px;
}

.main-screen-links {
    color: dodgerblue;
    text-decoration: underline;
}

.login-head {
    color: #1D2226;
    opacity: 0.6;
    font-weight: 300;
    font-size: 18px;
}


.custom-input {
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    padding: 0px 20px;
}

.custom-button {
    background: #1A1A1A !important;
    border-color: #1A1A1A !important;
    height: 50px;
    font-size: 16px;
    font-weight: 300 !important;
    border-radius: 50px;
}

.social-login-btns {
    color: #FFFFFF !important;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;

}

    .custom-button.focus, .custom-button:focus {
        box-shadow: 0 0 0 0.2rem #000000 !important;
    }

.text-links a {
    color: #000;
}

.newaccount {
    text-decoration: underline;
}

.alert-custom {
    background-color: #FFCC00;
    color: #1A1A1A;
    border-radius: 45px;
}


.custom-loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid black;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }