.layout-header-logo {
    width: 100%;
}

.email-scrape {
    width: 40%;
}

.csv-container {
    width: 60%;
}

.head-name-idea {
    float: right;
    padding: 10px;
}

    .head-name-idea button {
        padding: 8px !important;
    }

.text-a-r {
    text-align: right;
}

.text-a-l {
    text-align: left;
}

.container-emails {
    padding: 7px 15px;
    max-height: 220px;
    overflow-y: auto;
    border: 1px solid;
    margin: 5px 10px;
}

    .container-emails p {
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: 500;
    }
