.user-name {
    font-weight: 700;
    font-size: 14px;
    color: #1A1A1A;
}

    .user-name a {
        color: #1A1A1A;
    }

.user-company-info {
    font-weight: 400;
    font-size: 14px;
    color: #777A7D;
}

.user-profile-img {
    width: 40px;
    border-radius: 10px;
}

.user-data-list i:hover {
    cursor: pointer;
}

.btn-downloadcsv {
    width: 200px;
    line-height: 3;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.btn-removeAll {
    width: 120px;
    text-align: center;
    border-style: none;
}

.btn-downloadcsv:hover {
    text-decoration: none;
    color: #fff;
}

.icon-angle:hover {
    cursor: pointer;
}

#divUserData {
    min-height: 375px;
}

.customtooltip {
    outline: none;
    text-decoration: none;
    position: relative;
}

    .customtooltip span {
        margin-left: -999em;
        position: absolute;
    }

    .customtooltip:hover span {
        border-radius: 5px 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        font-family: Calibri, Tahoma, Geneva, sans-serif;
        position: absolute;
        left: -6em;
        top: -40px;
        z-index: 99;
        margin-left: 0;
        /*max-width: 200px;*/
        min-width: 200px;
    }

.customtooltipEmail:hover span {
    left: -9em !important;
}

.classic, .classicphone {
    background: #000;
    color: #fff;
    padding: 6px;
    text-align: center;
}

.customtooltip:hover span.classicphone {
    max-width: 150px;
    min-width: 150px;
}

.page-head {
    font-size: 20px;
    color: #1A1A1A;
    font-weight: 700;
}

.custom-input {
    height: 35px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    padding: 0px 20px;
}

.custom-button {
    background: #1A1A1A !important;
    border-color: #1A1A1A !important;
    height: 35px;
    font-size: 14px;
    color: #FFFFFF !important;
    font-weight: 300 !important;
    border-radius: 50px;
}

.delete-download-btn {
    height: 35px !important;
}

.download-up {
    height: 30px !important;
    line-height: normal;
    width: 140px;
    padding: 5px 0px;
}

.download-down {
    height: 35px !important;
    line-height: normal;
    width: 140px;
    padding: 7px 0px;
}

.icon-box-border {
    padding: 8px;
    border: 1px solid #ECEEF5;
    box-sizing: border-box;
    border-radius: 10px;
}
