@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LemonAPI_Core.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}
<style>
    .textbox {
        height: 30px;
        border-radius: 10px;
        margin-bottom: 10px;
        outline: none !important;
    }

        .textbox:focus {
            outline: none !important;
        }

    .submitButton {
        color: #fff;
        background-color: #000;
        height: 35px;
        width: 100px;
        border: 1px solid #000;
        font-size: 16px;
    }

    .text-danger {
        color: red;
    }

    ul li {
        list-style: none;
    }

    .alert-success {
        color: green;
    }
</style>
<div style="text-align: center; margin: 100px auto;">
    <h2 style="margin-bottom: 10px;">Reset Password</h2>
    <div class="login-wrap">
        <div class="row">
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" class="form-control" />
                <input type="hidden" asp-for="Token" class="form-control" />
                <div class="form-group text-left">
                    <input asp-for="Password" class="textbox" autofocus placeholder="New Password" /><br />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group text-left">
                    <input asp-for="ConfirmPassword" class="textbox" placeholder="Confirm New Password" /><br />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Continue" class="btn btn-primary btn-block submitButton" />
                </div>
            </form>
            @if (Model?.IsSuccess == true)
            {
                <div class="alert alert-success text-center" role="alert">
                    Password updated successfully.<br />
                </div>
            }
        </div>
    </div>
</div>